---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import IntroSection from "../components/IntroSection.astro";
import TrustSection from "../components/TrustSection.astro";
import Industries from "../components/Industries.astro";
import HowItWorks from "../components/HowItWorks.astro";
import WhyQuillmop from "../components/WhyQuillmop.astro";
import ResourcesPreview from "../components/ResourcesPreview.astro";
import ClosingCTA from "../components/ClosingCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <IntroSection />
    <TrustSection />
    <Industries />
    <HowItWorks />
    <WhyQuillmop />
    <ResourcesPreview />
    <ClosingCTA />
  </main>
  <Footer />
</Layout>
